@media (min-width: 768px) {
    .fixed-top {
        height: 30%;
        /* 设置固定的顶部高度 */
    }


    .greeting-container {
        text-align: center;
        padding: 20px;
    }

    #greeting {
        font-size: 24px;
        font-weight: bold;
        animation: fadeInOut 5s infinite;
    }

    .container {
        width: 100%;
        /* 设置容器宽度为整个页面宽度 */
        display: flex;
        justify-content: flex-end;
        /* 将内容右对齐 */
    }

    .content {
        position: relative;
        width: 60%;
        /* 设置内容宽度为容器的一半 */
    }

    .txt {
        height: 350px;
        margin-left: 20%;
        margin-right: 20%;
        text-align: left;
        word-wrap: break-word;


        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.2;

    }
}

@media (max-width: 768px) {
    .greeting-container {
        text-align: center;
        padding: 20px;
    }

    #greeting {
        font-size: 24px;
        font-weight: bold;
        animation: fadeInOut 5s infinite;
    }

    .txt {
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        word-wrap: break-word;


        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.2;

    }
}



#like {
    animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

p.email {
    color: #178760;
    margin: 0;
    text-indent: 0px;
}

p.greetingTXT {
    text-indent: 10px;
}

p {
    text-indent: 25px;
    margin: 5px;
}

a:link {
    color: #178760;
    text-decoration: none;
}

a:visited {
    color: #8aafa9;
    text-decoration: none;
}

a:hover {
    color: #9bdacf;
    text-decoration: none;
}

a:active {
    color: #8aafa9;
    text-decoration: none;
}