/* Global styles for dynamically rendered anchor tags */
.greeting-container a,
.txt a {
  color: #178760;
  text-decoration: none;
}

.greeting-container a:visited,
.txt a:visited {
  color: #8aafa9;
  text-decoration: none;
}

.greeting-container a:hover,
.txt a:hover {
  color: #9bdacf;
  text-decoration: none;
}

.greeting-container a:active,
.txt a:active {
  color: #8aafa9;
  text-decoration: none;
}
