/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #f8f8f5;
  --normal-text-color: #2F3F3A;
  --accent-color: #178760;
  --semi-accent-color: #8aafa9;
  --highlight-color: #9bdacf;
  --shadow-color: #8aafa960;
}

/*:root {
  --background-color: #111A16;
  --normal-text-color: #E8E8DF;
  --accent-color: #3fbf9a;
  --semi-accent-color: #85D6BF;
  --highlight-color: #A7E2D1;
  --shadow-color: #3fbf9a40;
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121917;
    --normal-text-color: #d6e2dd;
    --accent-color: #3fbf9a;
    --semi-accent-color: #2f6f63;
    --highlight-color: #5fd3ba;
    --shadow-color: #33BDA3;
  }
}

:root {
  color: var(--normal-text-color);
}

body {
  min-height: 100vh;
  transition:
    color 1s,
    background-color 1s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body {
  background-color: var(--background-color);
}

a:link {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: var(--semi-accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

a:active {
  color: var(--semi-accent-color);
  text-decoration: none;
}

p {
  font-size: 16px;
}

p.email {
  color: var(--accent-color);
  margin: 0;
  text-indent: 0px;
}


h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}
