/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #f8f8f5;
  --normal-text-color: #2F3F3A;
  --accent-color: #178760;
  --semi-accent-color: #8aafa9;
  --shadow-color: #8aafa960;
  color: var(--normal-text-color);
}

body {
  min-height: 100vh;
  transition:
    color 1s,
    background-color 1s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*@media (prefers-color-scheme: light) {*/

body {

  background-color: var(--background-color);
}

a:link {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: var(--semi-accent-color);
  text-decoration: none;
}

a:hover {
  color: #9bdacf;
  text-decoration: none;
}

a:active {
  color: var(--semi-accent-color);
  text-decoration: none;
}


p.email {
  color: #178760;
  margin: 0;
  text-indent: 0px;
}

/*}*/
